.body {
    background-color: #fff4ea;
    color: #c96868;
    display: grid;
    grid-template-rows: 7em .5fr .26fr;
    grid-template-columns: repeat(3, .7fr);
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
}

.body-post {
    background-color: #fff4ea;
    color: #c96868;
    display: grid;
    grid-template-rows: 7em 1fr .1fr;
    grid-template-columns: repeat(3, .8fr);
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
}

/* For Medium Devices (Tablets, between 600px and 1024px) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {

    .body,
    .body-post {
        grid-template-rows: 7em 1fr .1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "content content"
            "footer footer";
    }
}

/* For Small Devices (Phones, up to 599px) */
@media only screen and (max-width: 599px) {

    .body,
    .body-post {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content"
            "footer";

    }

    .body {
        padding: 10px;
    }

    .body-post {
        padding: 10px;
    }
}