.body {
    background-color: #fff4ea;
    color:#c96868;
    display: grid;
    grid-template-rows: 7em .5fr .26fr;
    grid-template-columns: repeat(3, .7fr);
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
}


.body-post {
    background-color: #fff4ea;
    color:#c96868;
    display: grid;
    grid-template-rows: 7em 1fr .1fr ;
    grid-template-columns: repeat(3, .8fr);
    grid-template-areas:
        "header header header"
       
        "content content content"
        "footer footer footer";
}