.post-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10em;
    font-size: larger;
    text-align: center;
    margin-bottom: 20px;
}

.post-part-header {
    color: #7EACB5;
    text-decoration: underline;
    width: 100%;

}

.post-part-paragraph {
    font-size: large;
    width: 50vw;
    text-align: left;
    line-height: 1.8em;
}

strong {
    font-weight: bolder;
}

.post-img {
    width: 6em;
    height: 6em;
    object-fit: cover;
}

figure {
    grid-area: photo;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    width: 100px;
}


.post-author {
    display: grid;
    Width: 100%;
    grid-template-areas:
        ". post-title photo"
        ". author-name photo"
        ". author-title photo";

}

.post-title {
    grid-area: post-title;
}

.author-name {
    grid-area: author-name;
    color: #7EACB5;
    font-weight: bold;
}

.author-title {
    grid-area: author-title;
    color: #7EACB5;
    font-size: small;
    font-weight: bold;
}


/* For Medium Devices (Tablets, between 600px and 1024px) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .post-part-paragraph {
        width: 70vw;
        line-height: 1.7em;
        font-size: medium;
    }
}

/* For Medium Devices (Phones, 599px) */
@media only screen and (max-width: 599px) {

    .post-part-paragraph {
        width: 90vw;
        line-height: 1.7em;
        font-size: medium;
    }


}